/***************** Header Style *******************/
header {
  position: fixed;
  width: var(--ls-full);
  height: auto;
  padding: 1.75rem 0;
  z-index: 999; /* static이 아닌 요소가 겹쳐 있을 때 값이 높은 요소가 위로 올라온다. */
  transition: all 0.4s;
  border-bottom: 1px solid transparent;
  /* 선 트랜지션 되는 문제 */
}

header.active {
  border-bottom: 1px solid var(--color-gray-d);
  /* box-shadow: 0 1px 4px #ddd; */
  background: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container > * {
  display: flex;
}

header .nav-lists {
  display: flex;
}

header .nav-lists li {
  padding: 0 2rem 0 0;
}

header .nav-lists li a {
  font-size: var(--fs-14);
}

header .nav-lists li a:hover {
  text-decoration: underline;
}

header .sns ul {
  display: flex;
}

header .sns ul li {
  padding-left: 1rem;
}

header .sns ul a {
  width: 20px;
  display: block;
}

header .sns ul a img {
  width: var(--ls-full);
}

header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .logo a {
  width: 100px;
}

header .logo a img {
  width: var(--ls-full);
}

header .info {
  align-items: center;
}

header .cart {
  margin: 0 0.25rem 0 0.5rem;
}

header .cart a {
  display: flex;
  align-items: center;
  background: var(--color-black);
  color: #fff;
  height: 1.8rem;
  padding: 0 0.5rem;
  font-size: var(--fs-14);
  border-radius: 0.25rem;
}

header .cart a em {
  font-style: normal;
}

header .user {
  border: 1px solid var(--color-black);
  padding: 0 0.5rem;
  height: 1.8rem;
  font-size: var(--fs-18);
  border-radius: 0.25rem;
}

header .user a {
  display: flex;
  align-items: center;
  height: 100%;
}

header .mobile-menus {
  display: none;
}

header .menu-icon {
  display: none;
}

/************************************* 
Main Landing Section Style
**************************************/
#main-section {
  padding: 0;
  width: var(--ls-full);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#main-section img {
  width: var(--ls-full);
  height: 100vh;
  object-fit: cover;
  min-height: 786px;
  min-width: 1020px;
}

#main-section .overlay {
  width: var(--ls-full);
  height: var(--ls-full);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

#main-section .landing-text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
  opacity: 0;
  animation: fade-left 0.5s 1 forwards; /* fade-left라는 이름의 애니메이션이 0.5초동안 1번 실행 */
}

@keyframes fade-left {
  from {
    transform: translate(-45%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

#main-section .landing-text-box h2 {
  font-size: var(--fs-title);
  font-weight: var(--fw-400);
  line-height: 1.4; /* em 단위가 디폴트 */
}

#main-section .landing-text-box p {
  padding: var(--el-medium) 0;
  width: var(--ls-1-3);
}

/************************************* 
Slider Section Style
**************************************/
.slider-section .container {
  position: relative;
}

.slider-section .swiper-slide {
  display: flex;
  column-gap: var(--el-medium);
}

.slider-section .swiper-slide > div {
  width: var(--ls-1-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-section .swiper-slide > div.slider-image {
  height: 400px;
}

.slider-section .swiper-slide > div > img {
  width: var(--ls-full);
}

.slider-section .swiper-slide > div.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--el-medium);
  align-items: flex-start;
  transform: translateY(50px);
  opacity: 0;
}

.slider-section div.slider-text h4 {
  font-size: 1.8rem;
  font-weight: var(--fw-400);
}
.slider-section div.slider-text p {
  font-size: var(--fs-small-text);
  width: 90%;
}

.slider-section .slider-nav {
  background: #fff;
  color: var(--color-black);
  width: 60px;
  height: 60px;
  box-shadow: 0 0 2px var(--color-gray-3);
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -2.5rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: var(--color-black);
}

.slider-section .swiper-slide.swiper-slide-active .slider-text {
  animation: show-up 0.5s 0.3s 1 forwards; /* show-up이라는 이름의 애니메이션, 0.5초 동안 진행, 1번 실행, 실행후 정지 */
}

@keyframes show-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/************************************* 
Insta Section Style
**************************************/
.insta-section .insta-wrapper {
  display: flex;
}

.insta-section .insta-wrapper > div {
  width: var(--ls-1-3);
}

.insta-section .insta-wrapper > div img {
  width: var(--ls-full);
  object-fit: cover;
  border-radius: 0.25rem;
}

.insta-section .insta-wrapper .insta-image {
  display: flex;
  column-gap: 0.25rem;
}

.insta-section .insta-wrapper .insta-image > div {
  width: var(--ls-1-2);
}

.insta-section .insta-image .insta-grid-2 {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.insta-section .insta-image .insta-grid-1 {
  display: flex;
  align-items: center;
}

.insta-section .insta-right .insta-grid-1 {
  align-items: flex-end;
}

.insta-section .insta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.insta-section .insta-info h4 {
  text-align: center;
}

/************************************* 
Footer Section Style
**************************************/
footer {
  padding: 3rem 0;
  width: var(--ls-full);
}

footer .footer-upper {
  display: flex;
  justify-content: space-between;
}

footer .footer-logo {
  width: 100px;
}

footer .footer-logo img {
  width: var(--ls-full);
}

footer .footer-info {
  display: flex;
}

footer .footer-nav a {
  font-size: var(--fs-small-text);
  padding: var(--el-medium);
}

footer .footer-sns li {
  padding-left: 1rem;
}

footer .footer-sns li a {
  display: block;
  width: 20px;
}

footer .footer-sns li img {
  width: var(--ls-full);
}

footer .footer-info > ul {
  display: flex;
}

footer .footer-line {
  width: var(--ls-full);
  height: 1px;
  background: var(--color-black);
  margin: var(--el-medium) 0;
}

footer .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-small-text);
  align-items: center;
}

footer .footer-lower a {
  text-decoration: underline;
}
